
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  width: 90%;
  max-width: 600px;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: auto;
  padding: 10px 20px;
  background-color:#1f2020;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo{
  display:flex;
  align-items: center;
  justify-content: center;
}

.navbar h1 {
  font-size: 20px;
  margin: 30px;
  padding:10px;
}

.navbar .left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .profile-dropdown {
  background-color: white;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.navbar .signout-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7.5px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar .signout-btn:hover {
  background-color: #e60000;
}


.center-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.center-content .image-preview {
  width: 250px;
  height: 250px; 
  object-fit: contain;
  margin-bottom: 20px;
}
.select-upload-buttons{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-content input[type="file"] {
  display: none;
}

.center-content .choose-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin:10px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.center-content .choose-btn:hover {
  background-color: #0056b3;
}

.center-content .upload-btn {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.center-content .upload-btn:hover {
  background-color: #218838;
}
.Content{
  display: flex;
  align-items: center;
  justify-content: center;
}


.parsed-data {
  margin-top: 20px;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 90%;
  max-width: 600px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.parsed-data pre {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
} 
